/* poppins-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

div.captcha-dialog {
  z-index: 2;
}

.captcha-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  width: auto;
  height: auto;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

}

h1 {
  margin-top: 4vh;
}

.captcha-form h1 {
  margin-top: 4vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.captcha-form img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0vh;
  margin-bottom: 4vh;
  width: 320px;
  border-radius: 10px;

}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 4vw;
  margin-right: 4vw;
}

div.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
  height: 50px;
  width: 200px;
  margin: 4px 4px 4px 4px;
  cursor: pointer;
  /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
  /* -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

div.option:hover,
.option.checked {
  background-color: rgb(20, 125, 211);
  color: white;
}

.option-checkbox {
  margin: 0;
  width: 20px;
}

.btns-wrap {
  display: flex;
  flex-direction: row;
}

form button {
  margin-top: 4vh;
  margin-bottom: 2vh;
}


.option.checked:hover {
  transform: scale(1.02, 1.02);
}

section.btns-wrap button {
  margin-left: 2vw;
  margin-right: 2vw;
}


/* MOBILE SCREENS */
@media screen and (max-width: 480px) {
  div.option {
    width: 160px;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.solved {
  height: 100vh;
  width: 100vw;
  background-color: rgb(12, 151, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  flex-direction: column;
  font-weight: bold;
  color: white;

}



.check-mark {
  font-size: 200px;
  line-height: 1;
  width: 1em;

  &::before {
    content: "";
    display: inline-block;
    margin-left: 34%;
    margin-bottom: 8%;
    width: 0.35em;
    height: 0.77em;
    border: 0.15em solid #fff;
    border-left: none;
    border-top: none;
    transform: rotate(0.125turn);
  }
}

button {
  width: auto;
  height: auto;
  background-color: rgb(20, 125, 211);
  border-style: none;
  border-radius: 2em;
  padding: 1em 2em 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'poppins';
  margin-top: 2vh;
  margin-bottom: 2vh;
  transition: 0.4s;
  font-weight: bold;
}

button.refresh-btn {
  background-color: rgb(197, 197, 197);
  color: black;
}

a[role="button"]:hover,
button:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}